@model EmergencyHoundWeb.ViewModels.vmAccountLostPasswordModel
@{
    ViewBag.Title = "Reset Password";
}

<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <div class="container aside-xxl">

        <!-- render the validation summary -->
        @Html.Partial("~/Views/Shared/_ValidationSummary.cshtml")

        <section class="panel panel-default bg-white m-t-lg">
            <header class="panel-heading text-center">
                <strong>Forgot Password?</strong>
            </header>
            <div class="panel-body wrapper-lg">
                <div class="row">
                    Enter your e-mail address below to reset your password.
                </div>
                <br/>
                <br />
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "row", @id="iform" }))
            {
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg ", @type = "email", @placeholder = "test@example.com", @data_required = "true" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    @Html.ActionLink("Cancel?", "Login", new object { }, new { @class = "pull-right m-t-xs" })
                }




            </div>
        </section>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#iform').submit(function () {
            if ($(this).valid()) {
                $(this).find(':submit').attr('disabled', 'disabled');
            }
        });
    </script>
}
