@model EmergencyHoundWeb.ViewModels.vmAccountChangePasswordModel
@{
    ViewBag.Title = "Set New Password";
}

<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <div class="container aside-xxl">

        <section class="panel panel-default bg-white m-t-lg">
            <header class="panel-heading text-center">
                <strong>Set Permanent Password</strong>
            </header>
            <div class="panel-body wrapper-lg">

                <!-- render the validation summary -->
                @Html.Partial("~/Views/Shared/_ValidationSummary.cshtml")

                <br />
                @using (Html.BeginForm("SetPermPassword", "Account", FormMethod.Post, new { @class = "row" }))
                {
                    <div class="form-group">
                        <label class="control-label">Old Password</label>
                        @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control input-lg ", @type = "password", @data_required = "true" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                    <div class="form-group">
                        <label class="control-label">New Password</label>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-lg ", @type = "password", @data_required = "true" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm New Password</label>
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control input-lg ", @type = "password", @data_required = "true" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    @Html.ActionLink("Cancel", "Index", "Dashboard", new object { }, new { @class = "pull-right m-t-xs" })
                }




            </div>
        </section>
    </div>
</section>


