@model EmergencyHoundWeb.ViewModels.vmIncidentEditViewModel
@{
    ViewBag.Title = "Edit Incident";
}


<!-- render the left menu -->
@Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

<!-- render the main content -->
<section id="content">
    <section class="vbox">
        <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                <li><a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="#">Incident</a></li>
                <li class="active">Edit</li>
            </ul>

            <!-- render the validation summary -->
            @Html.Partial("~/Views/Shared/_ValidationSummary.cshtml")

            <!-- START: INCIDENT WIZARD -->
            <section class="panel panel-default wizard">
                <div class="wizard-steps clearfix" id="form-wizard">
                    <ul class="steps">
                        <li class="active"><a href="@Url.Action("Edit", "Incident", new { id=Model.t_em_incident.INCIDENT_IDX })"><span class="badge badge-info">1</span>Basic Info</a></li>
                        <li><a href="@Url.Action("Map", "Incident", new { id=Model.t_em_incident.INCIDENT_IDX })"><span class="badge badge-danger">2</span>Location</a></li>
                        <li><a href="@Url.Action("Team", "Incident", new { id=Model.t_em_incident.INCIDENT_IDX })"><span class="badge badge-danger">3</span>Team</a></li>
                        <li><a href="@Url.Action("IncResource", "Incident", new { id=Model.t_em_incident.INCIDENT_IDX })"><span class="badge badge-danger">4</span>Resources</a></li>
                        <li><a href="@Url.Action("Status", "Incident", new { id=Model.t_em_incident.INCIDENT_IDX })"><span class="badge badge-danger">5</span>Status</a></li>
                        <li><a href="@Url.Action("OpPeriods", "Incident", new { id=Model.t_em_incident.INCIDENT_IDX })"><span class="badge badge-danger">6</span>Operational Periods</a></li>
                    </ul>
                </div>
            </section>
            <!-- END: INCIDENT WIZARD -->


            @using (Html.BeginForm("Edit", "Incident", FormMethod.Post, new { @class = "" }))
            {              
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.t_em_incident.INCIDENT_IDX)

                <section class="panel panel-default">
                    <div class="panel-heading font-bold ">Basic Incident Information</div>
                    <div class="panel-body">
                        <div class="hbox stretch">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Incident ID</label>
                                        @Html.TextBoxFor(model => model.t_em_incident.INCIDENT_ID, new { @class = "form-control", @placeholder = "Incident ID", @maxlength = "20" })
                                        @Html.ValidationMessageFor(model => model.t_em_incident.INCIDENT_ID)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Incident Name</label>
                                        @Html.TextBoxFor(model => model.t_em_incident.INCIDENT_NAME, new { @class = "form-control", @placeholder = "Incident Name", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.t_em_incident.INCIDENT_NAME)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Priority</label>
                                        @Html.DropDownListFor(x => x.t_em_incident.INCIDENT_PRIORITY, Model.ddl_Priority, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.t_em_incident.INCIDENT_PRIORITY)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Incident Description</label>
                                        @Html.TextAreaFor(model => model.t_em_incident.INCIDENT_DESC, new { @class = "form-control", @placeholder = "Incident Description", @maxlength = "500" })
                                        @Html.ValidationMessageFor(model => model.t_em_incident.INCIDENT_DESC)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Jurisdiction</label>
                                        @Html.DropDownListFor(x => x.t_em_incident.ORG_IDX, Model.ddl_Jurisdictions, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.t_em_incident.ORG_IDX)
                                    </div>
                                </div>
                                @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label>Management Team</label>
                                        @Html.DropDownListFor(x => x.t_em_incident.INC_MANAGEMENT_ORG_CD, Model.ddl_ManagementTeam, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.t_em_incident.INC_MANAGEMENT_ORG_CD)
                                    </div>
                                </div>*@
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Sharing With</label>
                                        @Html.DropDownListFor(x => x.t_em_incident.SHARE_TYPE, Model.ddl_ShareType, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.t_em_incident.SHARE_TYPE)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Incident Start Date/Time</label>
                                        @Html.TextBoxFor(model => model.t_em_incident.INCIDENT_START_DT, new { @class = "form-control datetime-picker", @placeholder = "mm/dd/yyyy" })
                                        @Html.ValidationMessageFor(model => model.t_em_incident.INCIDENT_START_DT)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Incident End Date/Time</label>
                                        @Html.TextBoxFor(model => model.t_em_incident.INCIDENT_END_DT, new { @class = "form-control datetime-picker", @placeholder = "mm/dd/yyyy" })
                                        @Html.ValidationMessageFor(model => model.t_em_incident.INCIDENT_END_DT)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Weather Conditions</label>
                                        @Html.TextBoxFor(model => model.t_em_incident.INCIDENT_WEATHER, new { @class = "form-control", @placeholder = "", @maxlength = "100" })
                                        @Html.ValidationMessageFor(model => model.t_em_incident.INCIDENT_WEATHER)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Hazardous Materials Concerns</label>
                                        @Html.TextBoxFor(model => model.t_em_incident.INCIDENT_HAZ_MAT, new { @class = "form-control", @placeholder = "", @maxlength = "100" })
                                        @Html.ValidationMessageFor(model => model.t_em_incident.INCIDENT_HAZ_MAT)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" name="submitButton" value="Save" class="btn btn-sm btn-primary">Save</button>
                                    <button type="submit" name="submitButton" value="Continue" class="btn btn-sm btn-primary">Save and Continue to Location <i class="fa fa-arrow-circle-right"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            }

        </section>
    </section>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetimepicker")

}
