@model EmergencyHoundWeb.ViewModels.vmIncidentOpPeriodEditModel
@{
    ViewBag.Title = "Edit Operation Period";
}

<script type="text/javascript">
    var TempObjIDX;
    $(document).ready(function () {

        TempObjIDX = $('#newObjective_INCIDENT_OBJECTIVE_IDX').val();   //store value of empty guid

        //create an event when button is clicked to display modal
        $(".modal-it").click(function () {
            $('#newObjective_INCIDENT_OBJECTIVE').val($(this).parent('td').find('#item_INCIDENT_OBJECTIVE').val());
            $('#newObjective_OBJECTIVE_PRIORITY').val($(this).parent('td').find('#item_INCIDENT_PRIORITY').val());
            $('#newObjective_INCIDENT_OBJECTIVE_IDX').val($(this).parent('td').find('#item_INCIDENT_OBJECTIVE_IDX').val());
        });

        //create an event when button is clicked to display modal
        $(".add-it").click(function () {
            $('#newObjective_INCIDENT_OBJECTIVE').val(null);
            $('#newObjective_OBJECTIVE_PRIORITY').val(null);
            $('#newObjective_INCIDENT_OBJECTIVE_IDX').val(TempObjIDX);
        });


    });
</script>

<!-- render the left menu -->
@Html.Partial("~/Views/Shared/_LeftMenu.cshtml")

<!-- render the main content -->
<section id="content">
    <section class="vbox">
        <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                <li><a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#">Incident</a></li>
                <li class="active">Edit</li>
            </ul>

            <!-- render the validation summary -->
            @Html.Partial("~/Views/Shared/_ValidationSummary.cshtml")

            <!-- START: INCIDENT WIZARD -->
            <section class="panel panel-default wizard">
                <div class="wizard-steps clearfix" id="form-wizard">
                    <ul class="steps">
                        <li><a href="@Url.Action("Edit", "Incident", new { id=Model.t_em_incident_op_period.INCIDENT_IDX })"><span class="badge badge-success">1</span>Basic Info</a></li>
                        <li><a href="@Url.Action("Map", "Incident", new { id=Model.t_em_incident_op_period.INCIDENT_IDX })"><span class="badge badge-success">2</span>Location</a></li>
                        <li><a href="@Url.Action("Team", "Incident", new { id=Model.t_em_incident_op_period.INCIDENT_IDX })"><span class="badge badge-success">3</span>Team</a></li>
                        <li><a href="@Url.Action("IncResource", "Incident", new { id=Model.t_em_incident_op_period.INCIDENT_IDX })"><span class="badge badge-success">4</span>Resources</a></li>
                        <li><a href="@Url.Action("Status", "Incident", new { id=Model.t_em_incident_op_period.INCIDENT_IDX })"><span class="badge badge-success">5</span>Status</a></li>
                        <li class="active"><a href="@Url.Action("OpPeriods", "Incident", new { id=Model.t_em_incident_op_period.INCIDENT_IDX })"><span class="badge badge-info">6</span>Operational Periods</a></li>
                    </ul>
                </div>
            </section>
            <!-- END: INCIDENT WIZARD -->

    
            @using (Html.BeginForm("OpPeriodEdit", "Incident", FormMethod.Post, new { @class = "" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.t_em_incident_op_period.INCIDENT_OP_PERIOD_IDX)

                <!-- START OP PERIOD DETAILS -->
                <section class="panel panel-default">
                    <header class="panel-heading font-bold">Operation Period Details</header>
                    <div class="panel-body">
                        <div class="hbox stretch">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Operation Period Name</label>
                                        @Html.TextBoxFor(model => model.t_em_incident_op_period.OP_PERIOD_NAME, new { @class = "form-control", @placeholder = "", @maxlength = "30" })
                                        @Html.ValidationMessageFor(model => model.t_em_incident_op_period.OP_PERIOD_NAME)
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        @Html.TextBoxFor(model => model.t_em_incident_op_period.OP_PERIOD_START_DT, new { @class = "form-control datetime-picker", @placeholder = "mm/dd/yyyy", @maxlength = "25" })
                                        @Html.ValidationMessageFor(model => model.t_em_incident_op_period.OP_PERIOD_START_DT)
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>End Date</label>
                                        @Html.TextBoxFor(model => model.t_em_incident_op_period.OP_PERIOD_END_DT, new { @class = "form-control datetime-picker", @placeholder = "mm/dd/yyyy", @maxlength = "25" })
                                        @Html.ValidationMessageFor(model => model.t_em_incident_op_period.OP_PERIOD_END_DT)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Command Emphasis</label>
                                        @Html.TextAreaFor(model => model.t_em_incident_op_period.OP_PERIOD_COMMAND_EMPHASIS, new { @class = "form-control", @placeholder = "", @maxlength = "1000", @rows = 4 })
                                        @Html.ValidationMessageFor(model => model.t_em_incident_op_period.OP_PERIOD_COMMAND_EMPHASIS)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Situational Awareness</label>
                                        @Html.TextAreaFor(model => model.t_em_incident_op_period.OP_PERIOD_SIT_AWARENESS, new { @class = "form-control", @placeholder = "", @maxlength = "1000", @rows = 4 })
                                        @Html.ValidationMessageFor(model => model.t_em_incident_op_period.OP_PERIOD_SIT_AWARENESS)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Planned Actions</label>
                                        @Html.TextAreaFor(model => model.t_em_incident_op_period.OP_PERIOD_PLANNED_ACTION, new { @class = "form-control", @placeholder = "", @maxlength = "1000", @rows = 4 })
                                        @Html.ValidationMessageFor(model => model.t_em_incident_op_period.OP_PERIOD_PLANNED_ACTION)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-4 ">
                                        <button type="submit" name="submitButton" value="Edit" class="btn btn-primary">Save</button>
                                        <a href="@Url.Action("OpPeriods", "Incident", new { id=Model.t_em_incident_op_period.INCIDENT_IDX })" class="btn btn-default">Close</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                     </div>
                </section>

                <!-- START OBJECTIVES -->
                <section class="panel panel-default">
                    <div class="panel-heading font-bold">Objectives</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped m-b-none" data-ride="datatables">
                                <tr>
                                    <th></th>
                                    <th>Objective</th>
                                    <th>Priority</th>
                                </tr>
                                @if (Model.t_em_incident_objectives != null)
                                {
                                    foreach (var item in Model.t_em_incident_objectives)
                                    {
                                    <tr>
                                        <td style="min-width:78px">
                                            <a href="#modal-form" class="btn btn-rounded btn-xs btn-default modal-it" data-toggle="modal"><i class="fa fa-pencil fa-success"></i></a>
                                            <div class="delete-section" style="display:inline">
                                                <a class=" btn btn-rounded btn-xs btn-danger delete-link" href="@Url.Action("Delete", new { id = item.INCIDENT_OBJECTIVE_IDX })"><i class="fa fa-times "></i></a>
                                                <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.INCIDENT_OBJECTIVE_IDX" data-delete-p="/Incident/DeleteObjective"><b>Confirm Delete</b></div>
                                            </div>
                                            @Html.HiddenFor(modelItem => item.INCIDENT_OBJECTIVE_IDX)
                                            @Html.HiddenFor(modelItem => item.INCIDENT_OBJECTIVE)
                                            @Html.HiddenFor(modelItem => item.OBJECTIVE_PRIORITY)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.INCIDENT_OBJECTIVE)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OBJECTIVE_PRIORITY)
                                        </td>
                                    </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>

                </section>
                <p>
                    <a href="#modal-form" class="btn btn-s-md btn-primary add-it" data-toggle="modal">Add Objective</a>
                </p>


                <!-- START PLANNED ACTIONS -->



            }

        </section>
    </section>
</section>


<!-- START MODAL OBJECTIVES  -->
<div class="modal fade" id="modal-form" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 ">
                        <h3 class="m-t-none m-b">Add New Objective</h3>

                        @using (Html.BeginForm("Objective", "Incident", FormMethod.Post, new { @class = "" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.t_em_incident_op_period.INCIDENT_OP_PERIOD_IDX)
                            @Html.HiddenFor(model => model.newObjective.INCIDENT_OBJECTIVE_IDX)

                            <input id="tempObjectiveIDX" type="hidden" value="">

                            <div class="panel-body" style="padding: 0px">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            Objective:

                                            @Html.TextAreaFor(model => model.newObjective.INCIDENT_OBJECTIVE, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            Priority:
                                            @Html.TextBoxFor(model => model.newObjective.OBJECTIVE_PRIORITY, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button id="picLoc" type="submit" class="btn btn-sm btn-primary">Save</button>
                                        <button type="submit" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL OBJECTIVES -->




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetimepicker")

    <script>
        jQuery('.datetime-picker').datetimepicker({
            format: 'm/d/Y h:i:s A'
        });
    </script>
}
