<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Emergency Hound</title>
    <link rel="shortcut icon" sizes="16x16 32x32 48x48 64x64" href="@Url.Content("~/favicon.ico")">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")">
    <meta name="description" content="Emergency Hound is a mobile and web tool that allows you to plan for and response to emergencies in the field ." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")

    <script>
        $(function () {

            function isOnLine() {
                return navigator.onLine;
            }

            function showOnlineStatus() {
                var status = $("#onlineStatus");

                if (isOnLine()) {
                    status.text("online");
                    status.removeClass("btn-danger").addClass("btn-primary");
                }
                else {
                    status.text("offline");
                    status.removeClass("btn-primary").addClass("btn-danger");
                }
            }

            window.addEventListener("online", function (e) {
                showOnlineStatus();
            }, true);

            window.addEventListener("offline", function (e) {
                showOnlineStatus();
            }, true);

            showOnlineStatus();
        });
    </script>
</head>
<body>
    <section class="vbox" style="overflow-x:hidden;">
        <!-- page header -->
        <header class="header bg-dark dk navbar navbar-fixed-top-xs" >
            <div class="navbar-header aside-md">
                <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
                    <i class="fa fa-bars"></i>
                </a>
                <a href="@Url.Action("Index", "Dashboard")" class="navbar-brand" data-toggle="fullscreen" style="float:none !important">
                    <img src='@Url.Content("~/Content/Images/logo-header.png")' class="m-r-sm"  />
                </a>
                <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user">
                    <i class="fa fa-cog"></i>
                </a>
            </div>

            <ul class="nav navbar-nav hidden-xs">
                @Html.Action("_PartialHeadIncident", "Shared")
                <li>
                    <div class="m-t m-l">
                        <div id="onlineStatus" class="dropdown-toggle btn-xs btn-primary"></div>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs nav-user">
                @Html.Action("_PartialHeadNotification", "Shared")

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-right: 25px;">
                        <span class="thumb-sm avatar pull-left">
                            <img src='@Url.Content("~/Content/Images/avatar_m.jpg")'>
                        </span>@User.Identity.Name
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        <li class="arrow top"></li>
                        <li>
                            <a href='@Url.Action("MyProfile", "Account")' >Profile</a>
                        </li>
                        <li>
                            <a href="~/Content/help.html" target="_blank">Help</a>
                        </li>
                        <li class="divider"></li>
                        @if (@System.Configuration.ConfigurationManager.AppSettings["UseIdentityServer"] == "true")
                        {
                            <li>
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["IdentityServerAuthority"]">Return to Portal</a>
                            </li>
                        }
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <!-- end page header -->
        <section>
            <section class="hbox stretch">
                @RenderBody()
            </section>
        </section>


        <script type="text/javascript">
        $(function () {
            $(":input[type=text],[type=password],[type=email]:enabled:visible, textarea").first().focus();
        });
        </script>


        @RenderSection("scripts", required: false)

    </section>
</body>
</html>
