@using EmergencyHoundWeb.HtmlHelpers
@using EmergencyHoundModel.DataAccessLayer
@using EmergencyHoundModel
@using EmergencyHoundWeb.App_Logic
@{ 
//int UserIDX = 0;
//System.Web.Security.MembershipUser m = System.Web.Security.Membership.GetUser();
//if (m != null)
//{
//    UserIDX = m.ProviderUserKey.ConvertOrDefault<int>();
//}

//SP_DASHBOARD_COUNTS_Result cnts = db_EmergencyHound.GetSP_DASHBOARD_COUNTS(UserIDX);

}
<aside class="bg-dark lter aside-md hidden-print hidden-xs" id="nav">
    <section class="vbox">
        <header class="header bg-primary lter text-center clearfix" >
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-dark btn-icon" title="Add Quick Link"><i class="fa fa-plus"></i></button>
                <div class="btn-group hidden-nav-xs">
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                        Quick Links  &nbsp;&nbsp;
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu text-left">
                        <li><a href="@Url.Action("Create","Incident")">Create New Incident</a></li>
                        <li><a href="@Url.Action("Add","Resource")">Log a Resource</a></li>
                        <li><a href="@Url.Action("Index","Incident")">Search Incidents</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <section class="w-f scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
                <nav class="nav-primary hidden-xs">
                    <ul class="nav">
                        <li class="active">
                            <a href="@Url.Action("Index", "Dashboard") ">
                                <i class="fa fa-dashboard icon">
                                    <b class="bg-danger"></b>
                                </i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="@Html.ActivePageGroup("Resource")">
                            <a href="#layout">
                                <i class="fa fa-pencil-square-o icon">
                                    <b class="bg-warning"></b>
                                </i>
                                <span class="pull-right">
                                    <i class="fa fa-angle-down text"></i>
                                    <i class="fa fa-angle-up text-active"></i>
                                </span>
                                <span>Planning</span>
                            </a>
                            <ul class="nav lt">
                                <li class="@Html.ActivePage("Resource", "Index")">
                                    <a href="@Url.Action("Index","Resource")">
                                        @*<b class="badge bg-info pull-right">@(cnts != null ? cnts.ResourceCount.ToString() : "")</b>*@
                                        <i class="fa fa-angle-right"></i>
                                        <span>Resources</span>
                                    </a>
                                </li>
                                <li class="@Html.ActivePage("Resource", "People")">
                                    <a href="@Url.Action("People","Resource")">
                                        <i class="fa fa-angle-right"></i>
                                        <span>People / Certification</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="@Html.ActivePageGroup("Incident")">
                            <a href="#uikit">
                                <i class="fa fa-bullhorn icon">
                                    <b class="bg-warning lter"></b>
                                </i>
                                <span class="pull-right">
                                    <i class="fa fa-angle-down text"></i>
                                    <i class="fa fa-angle-up text-active"></i>
                                </span>
                                <span>Response</span>
                            </a>
                            <ul class="nav lt">
                                <li class="@Html.ActivePage("Incident", "Index")">
                                    <a href="@Url.Action("Index","Incident")">
                                        @*<b class="badge bg-info pull-right">@(cnts != null ? cnts.IncidentCount.ToString() : "")</b>*@
                                        <i class="fa fa-angle-right"></i>
                                        <span>Incident Search</span>
                                    </a>
                                </li>
                                @if (Session["iidx"] != null)
                                {
                                    <li class="active">
                                        <a href="#form" class="active">
                                            <i class="fa fa-angle-down text"></i>
                                            <i class="fa fa-angle-up text-active"></i>
                                            <span>Incident Details</span>
                                        </a>
                                        <ul class="nav dker">

                                            <li class="@Html.ActivePage("Incident", "Edit")">
                                                <a href="@Url.Action("Edit","Incident")">
                                                    <i class="fa fa-angle-right"></i>
                                                    <span class="m-l-md">Basic Info</span>
                                                </a>
                                            </li>
                                            <li class="@Html.ActivePage("Incident", "Map")">
                                                <a href="@Url.Action("Map","Incident")">
                                                    <i class="fa fa-angle-right"></i>
                                                    <span class="m-l-md">Location</span>
                                                </a>
                                            </li>
                                            <li class="@Html.ActivePage("Incident", "Team")">
                                                <a href="@Url.Action("Team","Incident")">
                                                    <i class="fa fa-angle-right"></i>
                                                    <span class="m-l-md">Command Team</span>
                                                </a>
                                            </li>
                                            <li class="@Html.ActivePage("Incident", "IncResource")">
                                                <a href="@Url.Action("IncResource","Incident")">
                                                    <i class="fa fa-angle-right"></i>
                                                    <span class="m-l-md">Resource</span>
                                                </a>
                                            </li>
                                            <li class="@Html.ActivePage("Incident", "Timeline")">
                                                <a href="@Url.Action("Timeline","Incident")">
                                                    <i class="fa fa-angle-right"></i>
                                                    <span class="m-l-md">Status/Timeline</span>
                                                </a>
                                            </li>
                                            <li class="@Html.ActivePage("Incident", "Attachments")">
                                                <a href="@Url.Action("Attachments","Incident")">
                                                    <i class="fa fa-angle-right"></i>
                                                    <span class="m-l-md">Attachments</span>
                                                </a>
                                            </li>
                                            <li class="@Html.ActivePage("Incident", "Reports")">
                                                <a href="@Url.Action("Reports","Incident")">
                                                    <i class="fa fa-angle-right"></i>
                                                    <span class="m-l-md">Reports</span>
                                                </a>
                                            </li>


                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                        @if (User.IsInRole("Admins") || User.IsInRole("JurisdictionAdmin") )
                        {
                            <li class="@Html.ActivePageGroup("Admin")">
                                <a href="#layout">
                                    <i class="fa fa-cog icon">
                                        <b class="bg-primary"></b>
                                    </i>
                                    <span class="pull-right">
                                        <i class="fa fa-angle-down text"></i>
                                        <i class="fa fa-angle-up text-active"></i>
                                    </span>
                                    <span>Admin</span>
                                </a>
                                <ul class="nav lt">
                                    @if (User.IsInRole("Admins"))
                                    {

                                    <li class="@Html.ActivePage("Admin", "Users")">
                                        <a href="@Url.Action("Users", "Admin")">
                                            <i class="fa fa-angle-right"></i>
                                            <span>Users</span>
                                        </a>
                                    </li>
                                    <li class="@Html.ActivePage("Admin", "Roles")">
                                        <a href="@Url.Action("Roles", "Admin")">
                                            <i class="fa fa-angle-right"></i>
                                            <span>Roles</span>
                                        </a>
                                    </li>
                                    <li class="@Html.ActivePage("Admin", "Settings")">
                                        <a href="@Url.Action("Settings", "Admin")">
                                            <i class="fa fa-angle-right"></i>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li class="@Html.ActivePage("Admin", "Tasks")">
                                        <a href="@Url.Action("Tasks", "Admin")">
                                            <i class="fa fa-angle-right"></i>
                                            <span>Tasks</span>
                                        </a>
                                    </li>
                                    }
                                    <li class="@Html.ActivePage("Jurisdiction", "Index")">
                                        <a href="@Url.Action("Index","Jurisdiction")">
                                            <i class="fa fa-angle-right"></i>
                                            <span>Jurisdictions</span>
                                        </a>
                                    </li>
                                    <li class="@Html.ActivePage("Resource", "ResourceType")">
                                        <a href="@Url.Action("ResourceType","Resource")">
                                            <i class="fa fa-angle-right"></i>
                                            <span>Resource Types</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        }
                        <li class="@Html.ActivePageGroup("Docs")">
                            <a href="@Url.Action("Index", "Docs") ">
                                <i class="fa fa-file-text icon">
                                    <b class="bg-info"></b>
                                </i>
                                <span>Documents</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </section>

        <footer class="footer lt hidden-xs b-t b-dark">
            <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-dark btn-icon">
                <i class="fa fa-angle-left text"></i>
                <i class="fa fa-angle-right text-active"></i>
            </a>
        </footer>
    </section>
</aside>
