@model EmergencyHoundWeb.ViewModels.vmJurisdictionListViewModel

@{
    ViewBag.Title = "Jurisdictions";
}

<!-- render the left menu -->
@Html.Partial("~/Views/Shared/_LeftMenu.cshtml")
@Html.AntiForgeryToken()
<!-- render the main content -->
<section id="content">
    <section class="vbox">
        <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                <li><a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#">Admin</a></li>
                <li class="active">Jurisdictions</li>
            </ul>
            <div class="m-b-md">
                <h3 class="m-b-none">Jurisdictions</h3>
            </div>

            <section class="panel panel-default">
                <div class="table-responsive">

                    <table class="table table-striped m-b-none" data-ride="datatables">
                        <tr>
                            <th>Edit</th>
                            <th>Jurisdiction Name</th>
                            <th>Description</th>
                            <th>Create Date</th>
                            <th>Last Modified</th>
                            <th>Can Users Join?</th>
                            <th>Active</th>
                        </tr>

                        @foreach (var item in Model.t_oe_organizations)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Edit","Jurisdiction", new { id=item.ORG_IDX })" class="btn btn-rounded btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                    <div class="delete-section" style="display:inline">
                                        <a class=" btn btn-rounded btn-xs btn-danger delete-link" href="#"><i class="fa fa-times "></i></a>
                                        <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.ORG_IDX" data-delete-path="@(Url.Content("~/"))"  data-delete-p="/Jurisdiction/DeleteJurisdiction"><b>Confirm Delete</b></div>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ORG_NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ORG_DESC)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CREATE_DT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MODIFY_DT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ALLOW_JOIN_IND)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ACT_IND)
                                </td>
                            </tr>
                        }

                    </table>

                </div>

            </section>
            @if (User.IsInRole("Admins"))
            {
                <p>
                    @Html.ActionLink("Create New", "Edit", "Jurisdiction", new { id = 0 }, new { @class = "btn btn-s-md btn-primary" })
                </p>
            }
        </section>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>


@Scripts.Render("~/bundles/confirmdelete")



